
$bg-color: rgba(95, 69, 60, 0.85);
$primary-neon: #c1ae8b;   /* Cyan    */
$secondary-neon: #b66f54; /* Magenta */
$text-color: #e0e0e0;
$font-family: "JetBrains Mono Nerd Font";

.music-widget {
  background-color: $bg-color;
  border-radius: 10px;
  padding: 10px;
  color: $text-color;
  font-family: $font-family;
  border: 0.5px solid $primary-neon;
  box-shadow: 0 0 12px rgba($primary-neon, 0.1);
}

.cover-art {
  background-size: cover;
  background-position: center;
  min-width: 155px;
  min-height: 125px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-right:20px ;
  padding-bottom: 50px;
  border: 1px solid rgba($primary-neon, 0.3);

}

.music-info {
  padding: 5px 0;
  margin-right: 10px;
}

.song-title {
  font-size: 15px;
  font-weight: bold;
  color: $secondary-neon;
  text-shadow: 0 0 1px rgba($secondary-neon, 0.3);
  margin-bottom: 5px;
} 

.artist {
  font-size: 14px;
  opacity: 0.70;
  color: $primary-neon;
  margin-bottom: 5px;
}

.controls {
  margin: 8px 0;
  font-size: 22px;
}

.controls button {
  background: none;
  border: none;
  color: $secondary-neon;
  padding: 0 10px;
  transition: all 0.2s ease-in-out;
  text-shadow: 0 2 6px rgba($secondary-neon, 0.3);
}

.controls button:hover {
  color: $primary-neon;
  text-shadow: 0 0 10px rgba($secondary-neon, 1);
}

.position {
  font-size: 12px;
  opacity: 0.75;
  color: $text-color;
  margin-bottom: 10px;
}

.progress-bar {
  margin-left:  5;
  padding: 0;
  border: none;
}

.progress-bar trough {
  background-color: rgba($primary-neon, 0.1);
  border-radius: 10px;
  min-height: 12px;
  min-width: 180px;
  border: 1px solid rgba($primary-neon, 0.3);
  box-shadow: inset 0 0 3px rgba(0,0,0,0.4);
}

.progress-bar highlight {
  background-image: linear-gradient(to right, $primary-neon, $secondary-neon);
  border-radius: 10px;
  box-shadow: 0 0 3px $primary-neon;

}

.volume_bar {
  margin-left: 0px;
}


.volume_bar scale {
  border: none;
}

.volume_bar scale trough {
  background-color: rgba($primary-neon, 0.1);
  border-radius: 10px;
  min-height: 90px;
  min-width: 16px;
  border: 1px solid rgba($primary-neon, 0.3);
  box-shadow: inset 0 0 3px rgba(0,0,0,0.4);
}

.volume_bar scale trough highlight {
  background-image: linear-gradient(to top, $primary-neon, $secondary-neon);
  border-radius: 10px;
  box-shadow: 0 0 3px $primary-neon;
}

.vol_icon {
  font-size: 24px;
  text-shadow: 0 0 1px $primary-neon;
  background: none;
  border: none;
  padding-right: 20px;
  transition: all 0.2s ease-in-out;
}

.vol_icon:hover {
  text-shadow: 0 0 10px rgba($secondary-neon, 1);
}

.cava-visualizer {
  margin-left:  5;
  font-family: "monospace";
  font-size: 10px;
  letter-spacing: 1px;
  color:  $primary-neon;
  text-shadow: 0 0 6px rgba($primary-neon, 0.5);
  margin-top: 10px;
  text-shadow: 0 0 3px $primary-neon;
}
